In [4]:
#import pandas 
import pandas as pd

Importing the data from my CSV file

In [40]:
#creating data path variable
data_path = "../data/smartwatches.csv"

#let's import the data
df = pd.read_csv(data_path)

#lets drop any duplicate data
df.drop_duplicates(inplace=True)

let's view the imported data

In [41]:
df.head()

,Unnamed: 0,Brand,Current Price,Original Price,Discount Percentage,Rating,Number OF Ratings,Model Name,Dial Shape,Strap Color,Strap Material,Touchscreen,Battery Life (Days),Bluetooth,Display Size,Weight
0,0,noise,82990.0,89900.0,7.686318,4.0,65.0,Wrb-sw-colorfitpro4alpha-std-rgld_pnk,NaN,NaN,NaN,NaN,8.0,Yes,NaN,35 - 50 g
1,1,fire-boltt,3799.0,16999.0,77.651627,4.3,20788.0,BSW046,NaN,NaN,Silicon,Yes,3.5,Yes,1.8 inches,50 - 75 g
2,2,boat,1999.0,7990.0,74.981227,3.8,21724.0,Wave Call,NaN,NaN,Silicon,Yes,8.0,Yes,1.7 inches,35 - 50 g
3,3,fire-boltt,1799.0,19999.0,91.004550,4.3,13244.0,BSW053,NaN,NaN,Silicon,Yes,3.5,Yes,1.8 inches,75g +
4,4,noise,1599.0,4999.0,68.013603,4.1,13901.0,Wrb-sw-colorfitpulsegobuzz-std-blk_blk,NaN,NaN,Other,Yes,8.0,Yes,1.7 inches,35 - 50 g

1. remove Unnamed:0

In [42]:
#wwe can see it has 450 rows and 16 columns
df.shape

(450, 16)

lets do some EDA(exploratory data analysis)

In [43]:
#lets take some test data-80%- and pick a constant random sequence
train_df = df.sample(frac=0.8, random_state=42)
#lets reset the index value for the entries
train_df = train_df.reset_index()

In [44]:
#we are droping all rows that are in train_df(creating our test samples)
test_df = df.drop(train_df.index)
#lets reset the index value for the entries
test_df = test_df.reset_index()

In [45]:
#lets see the partition 
print("the train sample {}\nthe test sample {}".format(train_df.shape, test_df.shape))

the train sample (360, 17)
the test sample (90, 17)

In [46]:
#lets look at the data types
train_df.dtypes

index                    int64
Unnamed: 0               int64
Brand                   object
Current Price          float64
Original Price         float64
Discount Percentage    float64
Rating                 float64
Number OF Ratings      float64
Model Name              object
Dial Shape              object
Strap Color             object
Strap Material          object
Touchscreen             object
Battery Life (Days)    float64
Bluetooth               object
Display Size            object
Weight                  object
dtype: object

In [47]:
#lets check for null values
train_df.isna().sum()

index                    0
Unnamed: 0               0
Brand                    0
Current Price            6
Original Price          56
Discount Percentage     56
Rating                   4
Number OF Ratings       45
Model Name              30
Dial Shape             100
Strap Color            100
Strap Material          56
Touchscreen             31
Battery Life (Days)     30
Bluetooth                5
Display Size            27
Weight                 149
dtype: int64

In [48]:
#lets look deeper into the train data set
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 360 entries, 0 to 359
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   index                360 non-null    int64
 1   Unnamed: 0           360 non-null    int64
 2   Brand                360 non-null    object
 3   Current Price        354 non-null    float64
 4   Original Price       304 non-null    float64
 5   Discount Percentage  304 non-null    float64
 6   Rating               356 non-null    float64
 7   Number OF Ratings    315 non-null    float64
 8   Model Name           330 non-null    object
 9   Dial Shape           260 non-null    object
 10  Strap Color          260 non-null    object
 11  Strap Material       304 non-null    object
 12  Touchscreen          329 non-null    object
 13  Battery Life (Days)  330 non-null    float64
 14  Bluetooth            355 non-null    object
 15  Display Size         333 non-null    object
 16  Weight               211 non-null    object
dtypes: float64(6), int64(2), object(9)
memory usage: 47.9+ KB

In [49]:
#let us separate numerical data from the training set
numerical_data = [feature for feature in train_df.columns if train_df[feature].dtype != 'object']

In [ ]:
#let us do the same for contionous data
continuous_data = [feature for feature in train_df.columns if train_df[feature].dtype == 'object']